<div>
<%= link_to bookings_url do %>
<button type="button" class="btn btn-primary btn-sm">Admin Page</button>
<% end %>
<div class="modal-header1">
  <h1> Welcome to the Pet Sitting App! </h1>
  </div>
<div class="modal-header">
<h3> Book a Sitting! </h3>
<table class="table table-striped">
  <tbody>
<%= form_with model: @booking do |f| %>
  <tr>
  <td><%= f.label :first_name  %></td>
  <td><%= f.text_field :first_name %></td>
  <td><%= f.label :last_name  %></td>
  <td><%= f.text_field :last_name %></td>
  <td><%= f.label :pet_name  %></td>
  <td><%= f.text_field :pet_name %></td>
  <td><%= f.select :animal_type, ["Dog", "Cat"]  %></td>
  <td><%= f.text_field :pet_type %></td>
  <td><%= f.label :hours_requested  %></td>
  <td><%= f.number_field :hours_requested, in: 2..8 %></td>
  <td><%= f.label :date  %></td>
  <td><%= f.date_field :date %></td>
  <td><%= f.submit %></td>
  <% end %>
  </tr>
</div>
<style>
.btn-primary {
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.modal-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 15px 15px 30px;
}
.modal-header1 {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 15px 15px 30px;
  margin-bottom: 20px;
}
</style>
